@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
body {
font-family:'Almarai',serif;
text-align: right;
color: #eb2026;
display: flex;
flex-direction: right;
justify-content: center;
align-items: right;
height: 45vh;
  background: #fff url('');   
}
a:-webkit-any-link {
    color: #333;
    text-decoration: none;
    cursor: ; 
	
	}
